.ai-adoption-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ai-adoption-container  h2 {
  width: 100%;
  text-align: center;
}

.liquid-gauge {
  width: 30%;
  /* background-color: grey; */
  margin: 1%;
  text-align: center;
}
